.metadata
*/.metadata
*/.metadata/
.jxbrowser.userdata/
*/.jxbrowser.userdata/
dvt/
dvt
*/dvt
RemoteSystemsTempFiles
*/RemoteSystemsTempFiles
*/RemoteSystemsTempFiles/
*/.launches/
*/.settings/
*/Debug/
*/Debug
*/targetConfigs/
targetConfigs
*/targetConfigs
*/.cproject
*/.ccsproject
*/.project
RemoteSystemsTempFiles/
RemoteSystemsTempFiles
*/RemoteSystemsTempFiles